.details, .name {
  color: #fff;
}

.empty {
  text-align: center;
}
.emotion {
  display: block;
  text-align: center;
  i:before {
    font-size: 8rem;
  }
}
.responsive-table {
  overflow-x: auto;
}